html {
    font-family: Arial;
    background-color: #ff99ff;
}

body {
    margin: 0 auto;
    padding: 10px 20px 20px 20px;
    background-color: #ffb3ff;
    width: 80%;
    border: dotted #ff80ff
}

h1 {
    text-align: center;
}

p, li {
    font-size: 20px;
}

img {
    border-radius: 8px;
    display: block;
    margin: auto;
  }